@{
    ViewData["Title"] = "Index";
}

<button onclick = "getAll()">gel all</button>
<button onclick = "login()">login</button>
<button onclick = "register()">register</button>
<button onclick = "contacts()">all contacts</button>
<button onclick = "contact()">contact</button>

@section Scripts{
    <script src="~/js/rest.js"></script>
}
